{% for field in message.fields %}
    {% if field.type == "int" %}
        ::umb::decode_int(vi, bytes, m_{{ field.name }});
    {% else if field.type == "byte" %}
        ::umb::decode_byte(vi, bytes, m_{{ field.name }});
    {% else if field.type == "float" %}
        ::umb::decode_float(vi, bytes, m_{{ field.name }});
    {% else if field.type == "bytes" %}
        ::umb::decode_bytes(vi, bytes, m_{{ field.name }});
    {% else if field.type == "string" %}
        ::umb::decode_string(vi, bytes, m_{{ field.name }});
    {% else %}
        {{ error("invalid type: '", field.type, "' in ", message.name) }}
    {% endif %}
{% endfor %}
