{# Copyright (C) 2023-2024  Tuomo Kriikkula #}
{# This program is free software: you can redistribute it and/or modify #}
{#     it under the terms of the GNU Lesser General Public License as published #}
{# by the Free Software Foundation, either version 3 of the License, or #}
{# (at your option) any later version. #}
{# #}
{# This program is distributed in the hope that it will be useful, #}
{#     but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU Lesser General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU Lesser General Public License #}
{#     along with this program.  If not, see <https://www.gnu.org/licenses/>. -#}
    StrLen = Len(Msg.{{ field.name }});
    Bytes.Length = Bytes.Length + (StrLen * {{ sizeof_uscript_char }});
    Bytes[I++] = StrLen;
    for (StrIdx = 0; StrIdx < StrLen; ++StrIdx)
    {
        Char = Asc(Mid(Msg.{{ field.name }}, StrIdx, 1));
        Bytes[I++] = (Char       ) & 0xff;
        Bytes[I++] = (Char >>>  8) & 0xff;
    }
