    // Encode packet header. Update size later.
    Bytes[0] = {{ sz }};
    Bytes[1] = {{ 0 }}; // Part.
    Bytes[2] = {{ uscript_message_type_prefix }}_{{ message.name }};
    Bytes[3] = ({{ uscript_message_type_prefix }}_{{ message.name }} << 8) & 0xff;
