    // Max variable string length is 255 Unicode characters.
    // The actual length in the packet is StrLen * {{ size_of_uscript_char }}.
    local byte StrLen;
    local int Char;
    local int StrIdx;
