    StrLen = Len(Msg.{{ field.name }});
    Bytes.Length = Bytes.Length + StrLen + 1;
    Bytes[I++] = StrLen * {{ size_of_uscript_char }};
    for (StrIdx = 0; StrIdx < StrLen; ++StrIdx)
    {
        Char = Asc(Msg.{{ field.name }});
        Bytes[I++] = (Char       ) & 0xff;
        Bytes[I++] = (Char >>>  8) & 0xff;
    }
