{# Copyright (C) 2023  Tuomo Kriikkula #}
{# This program is free software: you can redistribute it and/or modify #}
{#     it under the terms of the GNU Lesser General Public License as published #}
{# by the Free Software Foundation, either version 3 of the License, or #}
{# (at your option) any later version. #}
{# #}
{# This program is distributed in the hope that it will be useful, #}
{#     but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU Lesser General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU Lesser General Public License #}
{#     along with this program.  If not, see <https://www.gnu.org/licenses/>. -#}
    // Encode packet header. Update size later.
    Bytes[0] = {{ sz }};
    Bytes[1] = {{ 0 }}; // Part.
    Bytes[2] = {{ uscript_message_type_prefix }}_{{ message.name }};
    Bytes[3] = ({{ uscript_message_type_prefix }}_{{ message.name }} << 8) & 0xff;
