class {{ uscript_test_mutator }} extends Mutator
    config(Mutator_{{ uscript_test_mutator }});

`define ulog(msg, cond, tag) \
    `log(self.class.name $ "::" $ GetFuncName() $ "(): " $ `msg, \
    `cond, \
    `if(`tag) name("UMBTests-" $ string(`tag)) `else 'UMBTests' `endif)

function bool MutatorIsAllowed()
{
    return True;
}

function InitMutator(string Options, out string ErrorMessage)
{
    `ulog("Options:" @ Options @ "ErrorMessage:" @ ErrorMessage);
    super.InitMutator(Options, ErrorMessage);
}

function PostBeginPlay()
{
    // local PlayerController PC;

    `ulog(self @ "initialized");

    super.PostBeginPlay();

{% for message in messages %}

{% endfor %}

    // PC = GetALocalPlayerController();
    // `ulog("PC:" @ PC);

    `ulog("quitting");
    ConsoleCommand("QUIT", True);
}
