{% set in_pack = var_bool("in_pack", "get") %}
{% if bp_is_packed(message, field.name) %}
    {% set bps = message.bool_packs %}
    {% if not in_pack %}
        {% set in_pack = true %}
    Bytes[I++] = (
           byte(Msg.{{ field.name }})
    {% else %}
        | (byte(Msg.{{ field.name }}) << {{ bp_pack_index(bps, field.name) }})
        {% if bp_is_last(bps, field.name) or bp_is_multi_pack_boundary(bps, field.name) %}
            {% set in_pack = false %}
    );
        {% endif %}
    {% endif %}
{% else %}
    Bytes[I++] = byte(Msg.{{ field.name }});
{% endif %}
{% set in_pack = var_bool("in_pack", "set", in_pack) -%}
