    IntPart = Msg.{{ field.name }};
    FracPart = (Msg.{{ field.name }} - IntPart) * {{ float_multiplier }};
    Bytes[{{ pad(x, sz) }}{{ x }}] = (IntPart       ) & 0xff;
    {% set x = x + 1 %}
    Bytes[{{ pad(x, sz) }}{{ x }}] = (IntPart >>>  8) & 0xff;
    {% set x = x + 1 %}
    Bytes[{{ pad(x, sz) }}{{ x }}] = (IntPart >>> 16) & 0xff;
    {% set x = x + 1 %}
    Bytes[{{ pad(x, sz) }}{{ x }}] = (IntPart >>> 24) & 0xff;
    {% set x = x + 1 %}
    Bytes[{{ pad(x, sz) }}{{ x }}] = (FracPart       ) & 0xff;
    {% set x = x + 1 %}
    Bytes[{{ pad(x, sz) }}{{ x }}] = (FracPart >>>  8) & 0xff;
    {% set x = x + 1 %}
    Bytes[{{ pad(x, sz) }}{{ x }}] = (FracPart >>> 16) & 0xff;
    {% set x = x + 1 %}
    Bytes[{{ pad(x, sz) }}{{ x }}] = (FracPart >>> 24) & 0xff;
    {% set x = x + 1 %}
    {% set x = var_int("x", "set", x) -%}
