    Msg.{{ field.name }} = (
           Bytes[{{ pad(x, sz) }}{{ x }}]
        {% set x = x + 1 %}
        | (Bytes[{{ pad(x, sz) }}{{ x }}] <<  8)
        {% set x = x + 1 %}
        | (Bytes[{{ pad(x, sz) }}{{ x }}] << 16)
        {% set x = x + 1 %}
        | (Bytes[{{ pad(x, sz) }}{{ x }}] << 24)
        {% set x = x + 1 %}
    );
    {% set x = var_int("x", "set", x) -%}
